name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

        # CD 배포
      - name: Deploy to remote EC2 Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_EC2_IP }}
          username: ${{ secrets.AWS_EC2_USERNAME }}
          key: ${{ secrets.AWS_EC2_KEY }}
          port: ${{ secrets.AWS_EC2_PORT }}
          script: |
            cd /home/ubuntu
            docker pull ${{ secrets.DOCKER_USERNAME }}/${{secrets.DOCKER_REPO}}
            
            # 기존 컨테이너 중지 및 삭제
            if [ "$(docker ps -aq -f name=${{secrets.DOCKER_REPO}})" ]; then
              docker stop ${{secrets.DOCKER_REPO}}
              docker rm ${{secrets.DOCKER_REPO}}
            fi
            
            docker image prune -f
            
             # 새 컨테이너 실행
            docker run -d \
              --name ${{secrets.DOCKER_REPO}} \
              --env SPRING_PROFILES_ACTIVE=prod \
              --env JAVA_TOOL_OPTIONS="-Duser.timezone=Asia/Seoul" \
              --env 'MYSQL_URL=${{ secrets.MYSQL_URL }}' \
              --env MYSQL_USERNAME=${{ secrets.MYSQL_USERNAME }} \
              --env MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }} \
              --env JWT_SECRET=${{ secrets.JWT_SECRET }} \
              --env KAKAO_CLIENT_ID=${{ secrets.KAKAO_CLIENT_ID }} \
              --env KAKAO_CLIENT_SECRET=${{ secrets.KAKAO_CLIENT_SECRET }} \
              --env KAKAO_REDIRECT_URI=${{ secrets.KAKAO_REDIRECT_URI }} \
              --env KAKAO_CLIENT_REDIRECT_URI=${{ secrets.KAKAO_CLIENT_REDIRECT_URI }} \
              --env GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }} \
              --env GEMINI_MODEL=${{ secrets.GEMINI_MODEL }} \
              -p 8080:8080 \
                ${{ secrets.DOCKER_USERNAME }}/${{secrets.DOCKER_REPO}}